.nav-side-menu {
	background-color: #0b72fe;
}
.nav-side-menu .item>a {
	color: #ffffff;
}
.nav-side-menu .item>a svg {
	color: #ffffff;
}
.category-title {
	color: #ffffff;
	font-size: 12px;
}
.activebg .side-button {
	background-color: #303030;
}
